.root {
  align-items: center;
  display: flex;
  height: 32px;
  font-size: 14px;
  white-space: nowrap;
  padding: 20px;
  padding-right: 20px;
}
.root:hover {
  background-color: rgb(34, 34, 34);
}

.labelGridItem {
  padding-inline-start: 8px;
}

.expandIconWrapper {
  cursor: pointer;
  justify-content: center;
  transition: transform linear 0.1s;
  transform: rotate(-90deg);
}

.expandIconWrapper.isOpen {
  transform: rotate(0deg);
}
