@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 600px;
  height: 450px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  visibility: hidden;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(39, 39, 39, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(190, 190, 190, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(58, 58, 58, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(143, 143, 143, 0.9);
}
